.district-records {
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 20%;
  max-width: 160px;
  flex-wrap: wrap;
  margin-right: 25px;
}
@media (max-width: 576px){
  .district-records{
    width: 42%;
    max-width: 150px;
   
    align-items: center;
    margin: auto;
  }
}


.district-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;

  color: #94a3b8;
}

.count {
  font-size: 16px;
  color: #94a3b8;
  margin-right: 5px;
}