.stats-table {
  background: #1e1e30;
  border: 1px solid #475569;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  align-self: flex-start;
  width: 90%;
  margin: auto;
  margin-top: 40px;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .stats-table {
    align-self: center;
    width: 100%;
    max-width: 1160px;
    margin-top: 40px;
    padding-left: 0;
    overflow-y: hidden !important;
    overflow-x: auto;
    
  }
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 1146px;

}

.states-name-column {
  width: 320px;
  padding: 0px 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table-column {
  width: 150px;
}

.line {
  margin-top: 0;
  border: 1px solid #475569;
  width: 1146px;
}

.table-header-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: var(--light-blue-gray-50, #F8FAFC);
  font-family: 'Roboto';
}

.sorting-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  height: 40px;
  width: 20px;
  margin-right: 8px;
  color: #94a3b8;
}

.icons-container {
  display: flex;
  margin-left: 20px;
}

.state-stats-container {
  padding-left: 0px;
}

